{{>header}}
<h1>Login</h1>
<form action="/profile" method="post">
    <label>
        Username:
        <input type="text" placeholder="Username" name="username">
    </label>
    <label>
        Password:
        <input type="password" placeholder="Password" name="password">
    </label>
    <input type="submit" value="Log in">
</form>
<h1>Register</h1>
<form action="/register" method="post">
    <label>
        Username:
        <input type="text" placeholder="Username" name="username">
    </label>
    <label>
        Password:
        <input type="password" placeholder="Password" name="password">
    </label>
    <input type="submit" value="Log in">
</form>
{{>footer}}